/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
backup_20180916.zip
backup_20181025.zip
ceseckz_K50_kz.sql
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
nul
scheduler.bat